.snow {
  position: fixed;
  top: 0;
  z-index: -100;
  background-color: #160030;
  background: linear-gradient(65deg,#160030 0%,#2c1141 100%);

  video {
    min-width: 100vw;
    min-height: 100vh;
    mix-blend-mode: screen;
  }
}


.navbar {
  display: block;
  background: repeating-linear-gradient(
    -45deg,
    #3b6348,
    #3b6348 10px,
    #457354 10px,
    #457354 20px
  );

  .navbar-brand {
    font-weight: 900;
  }
}

.xmas-lights {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 15px;

  background: url('/themes/xmas/static/img/xmas/lights2-transparent.gif');
  background-size: contain;
}

.xmas-icicles {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 35px;

  background: url('/themes/xmas/static/img/xmas/icicles.png');
  background-position: center top;
  background-size: contain;
}

.jumbotron {
  position: relative;
  background-color: #e90504;
  background: url('/themes/xmas/static/img/xmas/christmas-banner.png');
}

.footer {
  background: url('/themes/xmas/static/img/xmas/snow_bottom_border.png');
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
