.snow {
  position: fixed;
  top: 0;
  z-index: -100;
  background-color: #160030;
  background: linear-gradient(65deg,#160030 0%,#2c1141 100%);

  video {
    min-width: 100vw;
    min-height: 100vh;
    mix-blend-mode: screen;
  }
}


.navbar {
  display: block;
  background-color: #3b6348;
  background: repeating-linear-gradient(
    -45deg,
    #3b6348,
    #3b6348 10px,
    #457354 10px,
    #457354 20px
  );

  .navbar-brand {
    font-weight: 900;
  }

  .navbar-nav .nav-link:hover {
    font-weight: 900;
  }

  .navbar-brand, .navbar-nav {
    font-family: 'Syne Mono', monospace;
  }
}

.category-header {
  font-family: 'Syne Mono', monospace;
  font-weight: 900;

  &::after {
    content: '';
    display: block;

    position: absolute;
    width: 100%;
    left: -2rem;
    right: 0;
    top: 100%;

    height: 2px;
    background-color: #160030;
    background: linear-gradient(65deg,#fff0 0%, #ffff 10%,#fff0 100%);
  }
}

.xmas-lights {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 15px;

  background: url('/themes/xmas/static/img/xmas/lights2-transparent.gif');
  background-size: contain;
}

.xmas-icicles {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 35px;

  background: url('/themes/xmas/static/img/xmas/icicles.png');
  background-position: center top;
  background-size: contain;
}

.jumbotron {
  position: relative;
  background-color: #e90504;
  background: url('/themes/xmas/static/img/xmas/christmas-banner.png');
  background-size: cover;
  margin-bottom: 3rem;
}

.footer {
  background: url('/themes/xmas/static/img/xmas/snow_bottom_border.png');
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

main>div.container:first-child>div.row:first-child>div.col-md-6.offset-md-3:first-child {
  margin-top: 5rem;
}

// The latter selector is kind of a hack, but it's mostly used to stylize the
// landing page which can't be modified via themes.
.xmas-card,
main>div.container:first-child>div.row:first-child>div.col-md-6.offset-md-3:first-child {
  background-color: white;
  background: url('/themes/xmas/static/img/xmas/card-bg-white.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;

  box-shadow: 0 0 15px rgba(0,0,0,0.5);

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    content: '';
    display: block;

    transform: rotate(-1.5deg);
    transform-origin: center center;

    z-index: -1;

    background-color: #e90504;
    background: url('/themes/xmas/static/img/xmas/card-bg-red.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  img.w-100.mx-auto.d-block {
    padding-top: 1rem !important;
  }
}

.challenge-desc {
  white-space: pre-wrap;
}
